html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
body{
    width: 100%;
    /*height: 100%;*/
    font-size: 16px;
    font-family: Arial;
    background-color: #75B92F;
}
/*Header*/
header {
    width: 100%;
    height: 100px;
    margin-bottom: 70px;
}
.welcome>h1{
    font-size: 3em;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.welcome>h1 a{
    text-decoration: none;
    color: #7FCCFF;
}
.logo{
    display: inline-block;
    float: left;
    margin: 20px;
}
header>nav li{
    text-decoration: none;
    display: inline;
    margin: 20px 0 0 20px;

}
header>nav li a {
    text-decoration: none;
    color: #B9722E;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.user{
    float: right;
    display: inline-block;
}
.user>img{
    width: 100px;
}

/*INDEX*/
.main {
    width: 100%;
    height: 500px;
}
.indexLogo {
    margin-top: 100px;
    text-align: center;
}
.indexLogo>img{
    width: 450px;
}
.viewAlbums{
    text-align: right;
    margin: 20px;
}

/*Login and Registration Form Styles*/
form {
    width: 20%;
    margin: 25px auto;
}

form input {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.error {
    color: red;
    width: 20%;
    margin: 25px auto;
    text-align: center;
}
/* Show All Albums*/

.albums{
    display: inline-block;
    border: 1px solid black;
    margin: 35px;
    /*margin-top: 70px;*/
    text-align: center;
    width: 265px;

}
.albums img{
    width: 100%;

}
.albums a {
    text-decoration: none;
    color: black;
}
.albums h3{
    background-color: #51B2D8;
}

/*Footer*/

footer{
    vertical-align: bottom;
}
.about{
    text-align: center;
}
.about span{
display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -40px;
}
.about li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #628EB5;
    font-size: 1.2em;

}
.about li img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

